@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: calibre;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/CalibreTest-Regular.otf") format("opentype"),
    url("/fonts/calibre-test-regular.woff") format("woff");
}

@font-face {
  font-family: calibre;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/CalibreTest-Black.otf") format("opentype"),
    url("/fonts/calibre-test-black.woff") format("woff");
}

@font-face {
  font-family: Chakra Petch;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ChakraPetch-Regular.otf") format("opentype"),
    url("/fonts/chakra-petch-Regular.woff") format("woff");
}

@font-face {
  font-family: Chakra Petch;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ChakraPetch-Bold.otf") format("opentype"),
    url("/fonts/chakra-petch-Bold.woff") format("woff");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.maintenance-page {
  background-color: #555555;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maintenance-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

.maintenance-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passphrase-label {
  font-size: 24px;
  margin-bottom: 12px;
}

.passphrase-input {
  font-size: 24px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
  margin-bottom: 12px;
}

.enter-button {
  font-size: 24px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.enter-button:hover {
  background-color: #0069d9;
}
